<header class="calendar-header">
  <div class="calendar-actions">
    <button type="button" data-action="today" title="Go to Today">
      <i class="fas fa-calendar-day"></i> Today
    </button>

    {{#if editable}}
      <button type="button" data-action="addNoteToday" title="Add Note for Today" class="add-note-today-btn">
        <i class="fas fa-plus"></i> Add Note
      </button>
    {{/if}}

    {{#if editable}}
      <button type="button" data-action="setAsCurrentDate"
        title="{{#if isToday}}Current Date{{else}}Set Selected Date as Current{{/if}}"
        class="set-current-date-btn" {{#if isToday}}disabled{{/if}}>
        <i class="fas fa-clock"></i>
        {{#if isToday}}Current Date{{else}}Set as Current{{/if}}
      </button>
    {{/if}}

    <div class="view-selector">
      <button type="button" data-action="changeView" data-mode="month"
        class="{{#if (eq displayMode 'month')}}active{{/if}}">
        Month
      </button>
      <button type="button" data-action="changeView" data-mode="week"
        class="{{#if (eq displayMode 'week')}}active{{/if}}">
        Week
      </button>
      <button type="button" data-action="changeView" data-mode="year"
        class="{{#if (eq displayMode 'year')}}active{{/if}}">
        Year
      </button>
    </div>
  </div>
</header>
